*{
    margin: 0;
    padding: 0;
    list-style-type: 0;
    background-color: #FBF8F8;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 1%;
    width: 100%;
    background-color: #FBF0D6;
}

.logo{
    display: flex;
    background-color: #FBF0D6;
}

#logo-icone{
    display: inline-block;
    background-color: #FBF0D6;
}

.logo-texto{
    
    display: inline block;
    font-family: Inter, sans-serif;
    color: #0D0D0D;
    font-size: 40px;
    margin-left: 10px;
    background-color: #FBF0D6;

}

.texto-verde{
    color: #6FB047;
    background-color: #FBF0D6;
}

.navbar{
    display: inline-block;
    background-color: #FBF0D6;
}

.navbar-item{
    text-decoration: none;
    display: inline-block;
    margin: 0 25px;
}

.item-texto{
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: #0D0D0D;
    background-color: #FBF0D6;
}

.item-texto:hover{
    font-weight: bold;
}

main{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    
}

.meio{
    display: flex;
}

.informacoes-caixa{
    padding-left: 5%;

    
    
}

.informacoes-titulo{
    margin-top: 30px;
    font-size: 45px;
    font-family: Inter, sans-serif;

}

.informacoes-texto{
    margin-top: 5%;
    font-size: 25px;
    font-family: Inter, sans-serif;
    padding-right: 300px;
}

.destaque{
    color: #6FB047;
    background-color: #FBF8F8;
}


.telas{

    display: flex;
    margin-top: 35px;
    padding-right: 5%;
    margin-left: 7%;
   
}

.lojas{
    padding-top: 2.5%;
    padding-left: 5%;
}
